.container-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.container-1{
    margin-right: 20px;
    padding-top: 16px;
}

.mybooking-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    background-color: #EDEFEE;
    padding: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
   .mybooking-container {
    width: 90%;
    height: 40%;
   }

   .booking-date * {
    font-size: 80%;
   }
   .setting-container {
    font-size: 80%;
   }
   .occasion-container {
    font-size: 80%;
   }

   .no-people {
    font-size: 80%;
   }

   .time-container {
    font-size: 80%;
   }
}

.confirmed {
    margin-top: 50px;
}